# Dependencies
node_modules/
*/node_modules/
#package-lock.json
package-lock.json/
/*package-lock.json/


# Build output
dist/
build/
*.log

# Environment
.env
.env.local
.env.*.local

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Backend
firebase-backup/
*.env

# Widget dist
widget/node_modules/
